body{
	
}
p{
	text-align:center;
}
em strong{
	color:red;
}

.titulo{
	text-align:center;
}

#missao{
	font-size:20px
}

#banner{
	width:100%
}

.item{
	font-style:italic
}

.beneficio{
	background:#ffffff
	padding:20px
}

.principal{
	background:#cccccc;
	padding:20px
}

ul{
	display:inline-block;
	vertical-align:top;
	width:20%;
	margin-right:15%;
}

.imagembeneficio{
	width:50%
}